body {
  margin: 0;
  padding: 0;
}

.root {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.text-style {
  font-size: 0.8rem!important;
}

.input-style {
  border: 1px solid rgba(0, 0, 0, 0.2)!important;
  border-radius: 3px!important;
  height: 20px!important;
  outline: none!important;
  width: 100% !important;
}

.input-style:focus {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2)!important;
}

.input__err {
  border: 1px solid red !important;
  box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.5) !important;
  border-radius: 3px!important;
  height: 20px!important;
  outline: none!important;
  width: 100% !important;
}

.flex-row {
  display: flex!important;
}

.as-input-height {
  height: 20px!important;
}